.a2 {
    text-decoration: none;
    color: #420048;
    opacity: 0.3;
  }
  
  .a1 {
    text-decoration: none;
    color: rgba(143, 19, 154, 0.8);
  }
  
  .tenhoConta {
    text-decoration: none;
    color: #8F149A;
    font-weight: bold;
  }

  .tenhoConta2 {
    display: flex;
    margin: 100px
  }

  .login{
   background: url("../assets/teste-gato\ \(2\).jpg") bottom no-repeat;
   background-size: 100%;
  }

  h2 {
    color: #8F149A;
    font-weight: bold;
  }

  span{
    color: #8F149A;
  }

  .card-login {
    color: #8F149A;
    font-weight: bold;
  }