* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}

.containerAdoção {
  width: 100%;
  height: 1024px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
}

.banner {
  width: 90%;
  margin: 40px 5%;
  height: 400px;
  border: 4px solid rgba(143, 19, 154, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.imagemBanner {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  border-radius: 16px; /* Mantém o mesmo raio de borda que o banner */
}

.containerCaixas {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.name {
  color: #fff;
}

.caixa {
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;

  top: 631px;
  left: 190px;
  border: 4px solid rgba(143, 19, 154, 0.20000000298023224);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0.5620763897895813, 0.07803819328546524, 0.6041666865348816, 0.25);
  overflow: hidden;
}

.background-foto {
  width: 292px;
  height: 167px;
  background: rgba(143, 19, 154, 0.20000000298023224);
  opacity: 1;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}


.tituloGatos {
  width: 310px;
  margin-left: 70px;
  margin-bottom: 15px;
  text-align: center;
}

.tituloGatos .titulo {
  color: rgba(143, 19, 154, 1);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
}

.amigável {
  width: 69px;
  height: 25px;
  background: rgba(235, 157, 3, 1);
  padding: 5px 10px;
  margin: 10px;
  opacity: 1;

  top: 857px;
  left: 210px;
  border-radius: 30px;
  overflow: hidden;
}

.texto-característica {
  width: 49px;
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 10px;
  opacity: 1;
  display: flex;
  text-align: center;
  margin-left: 0;
}

.containerCaracterísticas {
  flex-direction: row;
  display: flex;
}

.carinhoso {
  width: 73px;
  height: 25px;
  background: rgba(222, 50, 26, 1);
  padding: 5px 10px;
  margin: 10px;
  opacity: 1;
  border-radius: 30px;
}

.dócil {
  width: 50px;
  height: 25px;
  background: rgba(3, 96, 235, 1);
  padding: 5px 10px;
  margin: 10px;
  opacity: 1;
  border-radius: 30px;
}

.aventureiro {
  width: 80px;
  height: 25px;
  background: rgba(0, 156, 62, 1);
  padding: 5px 10px;
  margin: 10px;
  opacity: 1;
  border-radius: 30px;
}

.containerNomeGato {
  display: flex;
  margin-left: 10px;
}
.nomeGato {
  width: 51px;
  color: rgba(0, 0, 0, 1);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
}

.a2 {
  text-decoration: none;
  color: #420048;
  opacity: 0.3;
}

.a1 {
  text-decoration: none;
  color: rgba(143, 19, 154, 0.8);
}