* {
  box-sizing: border-box;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(255, 255, 255);
  border-bottom: solid 3px rgba(143, 19, 154, 0.5);
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.containerOpções {
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.containerOpções2 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 80px;
  width: 80px;
  gap: 25px; /* Ajuste o valor conforme necessário para obter o espaçamento desejado */
}

li {
  list-style-type: none;
  margin: 0 20px; 
}

.agora {
  font-weight: 800;
}

.container{
  margin: 0;
  align-items: center;
}

.container3 {
  background-color: #8F149A;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  background-color: #8F149A;
  width: 100%;
  height: 100px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerItens {
  color: #fff;
  text-align: center;
}

.logo {
  position: absolute;
  top: 5px;
  left: 5px;
}